.active-item {
  background-color: var(--tertiary-color) !important;
}

.secondary-text {
  color: #949299;
  font-size: 12px;
}

.grpc-call-item td:focus-visible {
  outline: none;
}

.grpc-call-item svg {
  color: #6d6872;
}
