.pane {
  background-color: var(--primary-color);
  border-left: solid 1px var(--tertiary-color);
}

.pane-header {
  background-color: var(--secondary-color);
  border-bottom: solid 1px var(--tertiary-color);
}

button.active-button {
  border-bottom: solid 2px var(--active-color);
  color: var(--active-color)
}

.pane-header button {
  padding: 0 10px;
  line-height: 1.33rem;
}

.grpc-web-frame {
  padding: 4px;
  border-bottom: solid 1px var(--tertiary-color);
}

.grpc-web-frame:last-child {
  padding: 4px;
  border-bottom: none;
}

h4 {
  font-weight: bolder;
}
